body{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    font-family: 'Open Sans', sans-serif;
    color: #54524f;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
p{
    margin: 0;
}
h1,h2,h3,h4,h5{
    margin: 0;
}

/* НАВІГАЦІЯ САЙТУ */
.nav_bar{
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px 0 100px;
}

.img_logo{
    width: 100%;
}

.a_nav{
    margin-right: 50px;
    font-weight: bold;
    color: #54524f;
    font-size: medium;
    transition: color 0.3s linear;
}

.a_nav:hover{
    color: #e2a355;
}

.search_form{
    display: inline-block;
}

.search_input{
    position: relative;
    width: 130px;
    height: 30px;
    border-radius: 30px;
    border: 0px;
    background-color: #c3bfbc;
    padding: 5px;
    text-align: center;
}

.svg_input{
    display: inline-block;
    margin-left: -40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    padding: 5px;
    background-color: #c3bfbc;
    fill: #54524f;
    fill-rule: evenodd;
}

label{
    position: relative;
}

#burger, [for=burger]{
    display: none;

}

span,span::before,span::after{
    width: 30px;
    height: 2px;
    position: absolute;
    top: -50px;
    right: 0;   
    background-color: #000;
}

span::before,
span::after{
    content: "";
}

span::before{
    transform: translateY(40px);
}

span::after{
    transform: translateY(60px);
}

@media (max-width: 1024px){
    .a_nav{
        margin-right: 40px;
        text-align: center;
    }

    .logo{
        margin-right: 50px;
    }

    .nav{
        display: flex;
        align-items: center;
    }
}

@media (max-width:940px){
    .nav{
        display: none;
    }

   [for=burger]{
       display: block;
   }

   #burger:checked+label+ nav{
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .logo{
    margin-right: 0px;
   }
    .img_logo{
        width: auto;
    }
    .a_nav{
        margin: 20px;
    }

    .nav_bar{
        align-items: unset;
        flex-direction: column;
    }
}

@media (max-width: 380px){
    .nav_bar{
        padding: 30px 50px 0 50px;
    }
}


/* MAIN */


/* IT'S TIME */
.border_top{
    margin-top: -1px;
    width: 100%;
    max-height: 100px;

}
.border_bottom{
    width: 100%;
    margin-bottom: -1px;
    max-height: 100px;
}

.its_time{
    display: flex;
    flex-direction: column;
    background: url(../Images/summer_exploring.jpg) center no-repeat;
}

.text__its_time{
    margin: 60px auto 60px 100px;
    max-width: 560px;
}

.title__its_time{
    margin: 0 0 40px 0;
    font-weight: 800;
    font-size: 60px;
    color: #deb37e;
}

.subtitle__its_time{
    font-weight: 700;
    font-style: italic;
    color: #54524f;
    font-size: 20px;
}

.btm{
    margin: 50px 0px;
    display: inline-block;
    background-color: #fff;
    color: #776c64;
    font-weight: 800;
    font-size: medium;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 20px;
    transition: background-color 0.3s linear, color 0.3s linear;
}

.btm:hover{
    color: #fff;
    background-color: #e2a355;
}

.text__img{
    font-weight: 400;
    font-style: italic;
    color: #54524f;
    font-size: 16px;
}

@media (max-width: 769px){
    .text__its_time{
        padding: 20px;
        margin: 60px auto 60px 0px;
    }

    .btm{
        background-color: #776c64;
        color: #fff;
    }
}

@media (max-width: 600px){
    .text__its_time{
    margin: 60px 0 60px 0px;
    background-color: rgb(0, 0, 0, 0.5);
    }

    .subtitle__its_time{
        color: #fff;
    }
   
    .text__img{
        color: #fff;
    }

    .btm{
        background-color: #fff;
        color: #776c64;
    }
}

/* LET'S GO */

.title__lets_go{
    font-weight: 800;
    color: #e2a355;
    font-size: 35px;
    text-align: center;
    margin: 0px auto 50px auto;
    text-transform: uppercase;
}

.subtitle__lets_go{
    text-align: center;
    font-weight: 400;
    color: #7f7770;
    font-size: 20px;
}

.items__lets_go{
    margin: 50px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item_1,.item_2,.item_3{
    width: 100%;
    max-width: 340px;
    height: 100%;
    max-height: 530px;
    margin: 10px;
    transition: transform 0.3s linear;
}
.item_1:hover,.item_2:hover,.item_3:hover{
    transform: translate3d(-10px, -10px, 0);
}

.section_img{
    display: flex;
}

.img__lets_go{
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.background__text_lets_go{
    background-color: #7f7770;
    padding: 60px 20px;
}

.title_item{
    margin-bottom: 30px;
    font-weight: 700;
    color:#fff;
    font-size: 20px;
}

.subtitle_item{
    font-weight: 500;
    color:#fff;
    font-size: 15px;
}

.section__btm_lets_go{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.btm__lets_go{
    display: inline-block;
    background-color: #7f7770;
    color: #fff;
    font-weight: 800;
    font-size: medium;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 40px;
    transition: background-color 0.3s linear;
}

.btm__lets_go:hover{
    background-color: #e2a355;
}


/* ITEMS */
.section_for_items{
    display: flex;
    flex-direction: column;
}

.discount,.promo{
    display: flex;
    justify-content: center;
}


.photo_promo{
    width: 100%;
    height: 100%;
}

.background_promo, .background_discount{
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.background_promo{
    background-color: #7f7770;
}

.background_discount{
    background-color: #deb37e;
}

.title__discount,.title__promo{
    font-weight: 800;
    color: #fff;
    font-size: 40px;
}

.title__promo{
    padding: 0 60px 0 100px;
}

.title__discount{
    padding: 0 100px 0 60px;
}

.subtitle__discount,.subtitle__promo{
    font-weight: 400;
    color: #fff;
    font-size: 20px;
}

.subtitle__discount{
    padding: 50px 100px 50px 60px;
}

.subtitle__promo{
    padding: 50px 60px 50px 100px;

}

.section__btm_discount{
    display: inline-block;
    padding-left: 60px;
}

.section__btm_promo{
    display: inline-block;
    padding-left: 100px;
}

.btm_discount,.btm_promo{
    display: inline-block;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 40px;
    transition: color 0.3s linear, background-color 0.3s linear;
}

.btm_discount{
    background-color: #7f7770;
    color: #fff;
}

.btm_discount:hover{
    background-color:#fff;
    color: #e2a355;
}

.btm_promo{
    background-color: #fff;
    color: #7f7770;
}

.btm_promo:hover{
    background-color: #e2a355;
    color: #fff;
}

@media (max-width: 769px){
    .title__discount{
        padding: 0 50px 0 30px;
    }
    
    .title__promo{
        padding: 0 30px 0 50px;
    }

    .subtitle__discount{
        padding: 50px 50px 50px 30px;
    }
    
    .subtitle__promo{
        padding: 50px 30px 50px 50px;
    }

    .btm_discount,.btm_promo{
        margin: 10px auto;
    }

    .section__btm_discount{
        padding-left: 30px;
    }
    
    .section__btm_promo{
        padding-left: 50px;
    }
}

 @media (max-width: 600px){
    .discount, .promo{
        flex-wrap: wrap;
    }
    .title__promo,.title__discount{
        padding: 0 100px 0 60px;
    }
    
    .subtitle__discount,.subtitle__promo{
        padding: 50px 100px 50px 60px;
    }
    
    .section__btm_discount,.section__btm_promo{
        padding-left: 60px; 
    }

    .background_promo,.background_discount{
        padding: 20px;
    }
}

@media (max-width: 380px){
    .background_promo, .background_discount{
        width: 100%;
        padding: 0;
    }
}

/* HIKING */
.hiking{
    display: flex;
    flex-direction: column;
    background-color: #99928d;
}

.text__hiking{
    margin: 200px auto;
    max-width: 900px;
    max-height: 200px;
}

.title_hiking{
    margin-bottom: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.subtitle_hiking{
    font-size: 25px;
    color: #fff;
    width: 400;
    text-align: center;
}
@media (max-width:769px){
    .text__hiking {
    margin: 200px 20px;
    }
}

/* EXPLORE THE WORLD */
.explore_the_world{
    display: flex;
    flex-direction: column;
    background: url(../Images/the\ world.jpg) center no-repeat;
}

.text__the_world{
    margin: 250px 100px 250px auto;
}

.title__the_world, .subtitle__the_world{
    text-align: end;
    font-weight: 800;
    font-style: italic;
    font-size: 70px;
    text-shadow: 1px -1px 4px #54524f;
}

.title__the_world{
    color: #deb37e;
}

.subtitle__the_world{
    color: #54524f;
    
}

@media (max-width: 1280px){
    .text__the_world{
        margin: 250px 20px 250px auto;
    }
}

@media (max-width: 1024px){
    .text__the_world{
        margin: 250px 0;
        background-color: rgb(0, 0, 0, 0.5);
    }

    .title__the_world{
        padding-right: 20px; 
    }
    
    .subtitle__the_world{
        padding-right: 20px;  
    }
}

/* FOOTER */
.footer{
    background: #7f7770 center no-repeat;
    display: flex;
    flex-direction: column;
}

.section_footer{
    display: flex;
    margin: 100px;

}

.left_footer{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 50%;
    padding-right: 150px;
}

.text__left_footer{
    flex: 1 0 0;
}

.title__footer{
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    margin-bottom: 50px;
}

.right_footer{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav_bar__footer{
    display: flex;
    flex-direction: column;
}

.nav__footer{
    display: block;
    color: #fff;
    margin-bottom: 10px;
    transition: color 0.3s linear;
}

.nav__footer:hover{
    color: #e2a355;
}
.services__footer{
    margin: 0 10px;
}

@media (max-width: 769px){
    .left_footer {
        padding-right: 0px;
        width: 100%;
    }

    .text__left_footer{
        font-size: 20px;
        padding-right: 40px;
    }

    .section_footer{
        margin: 100px 20px;       
        display: flex;
        flex-direction: column;
    }

    .title__left_footer{
        display: flex;
        justify-content: center;
    }

    .text__left_footer{
        text-align: center;
        padding-right: 0px;
        margin: 40px 0;
    }
    .icon_logo__left_footer{
        display: flex;
        justify-content: space-around;
    }

    .right_footer{
        margin-top: 100px;
        width: 100%;
    }

    .title__footer{
        font-weight: 600;
    }

    .nav__footer{
        font-size: 20px;
    }
}
