body{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    font-family: 'Open Sans', sans-serif;
    color: #54524f;
}

a{
    text-decoration: none;
}

/* НАВІГАЦІЯ САЙТУ */
.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

.a_nav{
    margin-right: 60px;
    font-weight: bold;
    color: #54524f;
    font-size: medium;
}

.search_form{
    display: inline-block;
}

.search_input{
    width: 130px;
    height: 30px;
    border-radius: 30px;
    border: 0px;
    background-color: #c3bfbc;
    padding: 5px;
    text-align: center;
}

/* MAIN САЙТА */


/* IT'S TIME */

.background__its_time{
    position: relative;
}

.img__its_time{
    width: 100%;
}

.text__its_time{
    width: 100%;
    max-width: 560px;
    margin: 20% 0;
    position: absolute;
    padding-left: 60px;
    top: 0;
    left: 0;
    z-index: 1;
}

.title__img{
    font-weight: 800;
    font-size: 60px;
    color: #deb37e;
}

.subtitle__img{
    font-weight: 700;
    font-size: medium;
    font-style: italic;
    color: #54524f;
    margin-bottom: 50px;
}

.btm{
    display: inline-block;
    background-color: #fff;
    color: #776c64;
    font-weight: 800;
    font-size: medium;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 20px;
}

.text__img{
    margin-top: 30px;
    font-weight: 400;
    font-style: italic;
    color: #54524f;
    font-size: 16px;
}

/* LET'S GO */

.title__lets_go{
    font-weight: 800;
    color: #e2a355;
    font-size: 35px;
    text-align: center;
    margin: 50px auto;
    text-transform: uppercase;
}

.subtitle__lets_go{
    text-align: center;
    font-weight: 400;
    color: #7f7770;
    font-size: 20px;
}

.items__lets_go{
    margin: 40px 60px;
    display: flex;
    justify-content: space-between;
}

.item_1,.item_2,.item_3{
    width: 100%;
    max-width: 340px;
    height: 100%;
    max-height: 530px;
}

.container_img{
    display: flex;
}

.img__lets_go{
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.background__text_lets_go{
    background-color: #7f7770;
    padding: 60px 20px;
}

.title_item{
    margin-bottom: 30px;
    font-weight: 700;
    color:#fff;
    font-size: 20px;
}

.subtitle_item{
    font-weight: 500;
    color:#fff;
    font-size: 15px;
}

.container__btm_lets_go{
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}

.btm__lets_go{
    display: inline-block;
    background-color: #7f7770;
    color: #fff;
    font-weight: 800;
    font-size: medium;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 40px;
}


/* ITEMS */
.container_for_items{
    display: flex;
    flex-direction: column;
}

.discount,.promo{
    display: flex;
    justify-content: center;
    height: 700px;
}

.photo_promo,.background_discount,.background_promo{
    width: 720px;
}


.photo_promo{
   width: 720px;
   max-width: 100%;
   height: 700px;
   max-height: 100%;
}

.background_discount{
    background-color: #7f7770;
}

.background_promo{
    background-color: #deb37e;
}

.title__discount{
    padding: 200px 120px 40px 60px;
    font-weight: 800;
    color: #fff;
    font-size: 30px;
}

.title__promo{
    padding: 200px 60px 40px 120px;
    font-weight: 800;
    color: #fff;
    font-size: 30px;
}

.subtitle__discount{
    padding: 0px 120px 40px 60px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

.subtitle__promo{
    padding: 0px 60px 40px 120px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

.conteiner__btm_discount{
    display: inline-block;
    padding-left: 60px;
}

.conteiner__btm_promo{
    display: inline-block;
    padding-left: 120px;
}

.btm_discount{
    display: inline-block;
    background-color: #e2a355;
    color: #fff;
    font-weight: 800;
    font-size: medium;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 40px;
}

.btm_promo{
    display: inline-block;
    background-color: #7f7770;
    color: #fff;
    font-weight: 800;
    font-size: medium;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 40px;
}